
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link href="~/Content/StyleSheet_Contact.css" rel="stylesheet" />
</head>
<body>
    <section id="page-header" class="contact-header">
        <h2>#let's_talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <ul>
                <li>
                    <i class="fal fa-map"></i>
                    <p>56 Glassford Street Glasgow G1 1UL New York</p>
                </li>
                <li>
                    <i class="fal fa-envelope"></i>
                    <p>contact@example.com</p>
                </li>
                <li>
                    <i class="fal fa-phone-alt"></i>
                    <p>+88017XXXXXXXX</p>
                </li>
                <li>
                    <i class="fal fa-clock"></i>
                    <p>Monday to Saturday: 9.00am to 16.00pm</p>
                </li>
            </ul>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1264542.1993077833!2d-2.3749722687499997!3d51.75481639999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6a9ef8c485b%3A0xd2ff1883a001afed!2sUniversity%20of%20Oxford!5e0!3m2!1sen!2sbd!4v1687445019342!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="E-mail">
            <input type="text" placeholder="Subject">
            <textarea placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="/Content/img/people/1.png" alt="">
                <p>
                    <span>John Doe</span>
                    Senior Marketing Manager <br>
                    Phone: + 000 123 000 77 88 <br>
                    Email: contact@example.com
                </p>
            </div>
            <div>
                <img src="/Content/img/people/2.png" alt="">
                <p>
                    <span>William Smith</span>
                    Senior Software Engineer <br>
                    Phone: + 000 123 000 77 88 <br>
                    Email: contact@example.com
                </p>
            </div>
            <div>
                <img src="/Content/img/people/3.png" alt="">
                <p>
                    <span>Emma Stone</span>
                    Senior Human Resource Manager <br>
                    Phone: + 000 123 000 77 88 <br>
                    Email: contact@example.com
                </p>
            </div>
        </div>
    </section>
</body>
</html>

