* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

.carousel-item img {
    width: 100%;
    height: 565px;
    margin-bottom: 5px;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #feature .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
    }

        #feature .fe-box:hover {
            box-shadow: 20px 20px 34px rgba(70, 62, 221, 0.1);
        }

        #feature .fe-box img {
            width: 100%;
            margin-bottom: 10px;
        }

        #feature .fe-box h6 {
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4;
        }

        #feature .fe-box:nth-child(2) h6 {
            background-color: #cdebbc;
        }

        #feature .fe-box:nth-child(3) h6 {
            background-color: #d1e8f2;
        }

        #feature .fe-box:nth-child(4) h6 {
            background-color: #cdd4f8;
        }

        #feature .fe-box:nth-child(5) h6 {
            background-color: #f6dbf6;
        }

        #feature .fe-box:nth-child(6) h6 {
            background-color: #fff2e5;
        }

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

#product1 {
    text-align: center;
}

    #product1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
        margin: 15px 0;
        transition: .2s ease;
        position: relative;
    }

        #product1 .pro:hover {
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
        }

        #product1 .pro img {
            width: 100%;
            border-radius: 20px;
        }

        #product1 .pro .des {
            text-align: start;
            padding: 10px 0;
        }

            #product1 .pro .des span {
                color: #606063;
                font-size: 12px;
            }

            #product1 .pro .des h5 {
                padding-top: 7px;
                color: #1a1a1a;
                font-size: 14px;
            }

        #product1 .pro .des {
            font-size: 12px;
            color: rgb(243,181,25);
        }

            #product1 .pro .des h4 {
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: #088178;
            }

        #product1 .pro .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #e8f6ea;
            font-weight: 500;
            color: #088178;
            border: 1px solid #cce7d0;
            position: absolute;
            bottom: 20px;
            right: 10px;
        }

    #banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url('/Content/img/banner/b2.jpg');
        width: 100%;
        height: 40vh;
        background-size: cover;
        background-position: center;
    }

    #banner h4 {
        color: #ffffff;
        font-size: 16px;
    }

    #banner h2 {
        color: #ffffff;
        font-size: 30px;
        padding: 10px 0;
    }

        #banner h2 span {
            color: #ef3636;
        }

    #banner button:hover {
        background-color: #088178;
        color: #fff;
    }

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        background-image: url('/Content/img/banner/b17.jpg');
        min-width: 550px;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }

    #sm-banner .banner-box2 {
        background-image: url('/Content/img/banner/b10.jpg');
    }

    #sm-banner h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    #sm-banner h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 800;
    }

    #sm-banner span {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    #sm-banner .banner-box:hover button {
        background: #088178;
        border: 1px solid #088178;
    }

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

    #banner3 .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        background-image: url('/Content/img/banner/b7.jpg');
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #banner3 .banner-box2 {
        background-image: url('/Content/img/banner/b4.jpg');
    }

    #banner3 .banner-box3 {
        background-image: url('/Content/img/banner/b18.jpg');
    }

    #banner3 h2 {
        color: #fff;
        font-weight: 900;
        font-size: 22px;
    }

    #banner3 h3 {
        color: #ec544e;
        font-weight: 800;
        font-size: 15px;
    }
